@charset "UTF-8";

body{
    background-color: rgba(203, 187, 112, 0.716);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
  color: rgb(82, 82, 248);
}

h1#principal {
  text-align: center;
  background-color: rgb(145, 170, 229);
}

h2{
 color: rgb(114, 75, 150);
}

.basico{
    color: rgb(194, 78, 78);
}

.intermediario{
   color: rgb(86, 114, 168);
}

.avancado{
  color: rgb(166, 130, 80);
}